body {
  margin: 0;
  background-color: #23272A !important;
  font-family: 'Open Sans', sans-serif !important;
}

h1 {
  font-family: 'Arvo', serif !important;
}
p {
  text-indent: 50px;
  font-size: 16pt;
  padding-left:  2%;
  padding-right: 2%;
}

/*Buttons*/
.btn btn-outline-secondary{
  font-size: 24pt !important;
}

/*Navbar*/
.navbar {
  font-family: 'Arvo', serif !important;
  background-color: #2C2F33 !important;


}
/*Card stuff */
.card {
  font-family: 'Open Sans', sans-serif;
  background-color: #2C2F33 !important;
  padding: 16px;
  color: rgb(169, 169, 169);
  margin: 2%;
}
.card h1 {
  padding-left: 2%;
  padding-right: 2%;
  color: #ffe082;
  font-family: 'Arvo', serif !important;
}
.card h2 {
  padding-left: 2%;
  padding-right: 2%;
  color: #ffe082;
  font-family: 'Arvo', serif !important;
}
.card h4 {
  padding-left: 2%;
  padding-right: 2%;
  color: #ffe082;
  font-family: 'Arvo', serif !important;
}
.card-title {
  color: #e0d252 !important;
}
.card span {
  background-color: rgba(58,58,58,0.8);
  color: #E6DB74;
}
.norm-list {
  text-indent: 0px;
}

/*Cover Image*/
.image {
  position: absolute;

  width: 100%;
  height: 100%;
  background: #23272A;
  background-image: url('./img/2017-team.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.image-test {
  position: absolute;

  width: 100%;
  height: 100%;
  background: #23272A;
  background-image: url('./img/comicon-2017.JPG');
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-position: center center;
  background-repeat: no-repeat;

}


/*Growing logo*/
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.content {
  position: absolute;
  width: 100%;
  top: 100%;
  height: 100px;
}


/*Marketing content specs*/

.row {
  background-color: #2C2F33;
  border-radius: 8px;
  padding: 16px;
  color: rgb(169, 169, 169);
  /*box-shadow: 8px 8px 4px black;*/
}

.row h2 {
  color: #ffe082;
  font-family: 'Arvo', serif !important;
  /*color: #e0d252 !important;*/
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.bouncer {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.social {
  text-decoration: none !important;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  height: 70px;
  border-radius: 150px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
