.logo {
  padding: 30px;
  height: 250;
  width: 500px;
  background: url(img/stop-build-blur-black.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.logo:hover {
  background: url(img/stop-build-blur-black-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.col-lg-6 {
  padding: 10px;
}
h2 {
  color: rgba(215, 237, 33, 0.9);
  font-size: 12px;
  letter-spacing: 4px;
}
.cont {
  display:inline-block;
  background: url(img/stop-build-blur-black.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  word-wrap: break-word;
  width: 350px;
  color: white;
  /*position: absolute;*/
  background-color: rgba(0, 0, 0, 0.85);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.body {
  padding: 12px;
}
.cont:hover {
  background: url(img/stop-build-blur-black-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: black;
}

html {
    background: url(img/stop-build.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sized {
  width: 350px;
  height: 350px;
  overflow: hidden;
  opacity: 1.0;
}
.sized:hover {
  opacity: 1.0;
}
.card {
    background: url(img/stop-build-blur-black.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    word-wrap: break-word;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: rgba( 0, 0, 0, 0.85 );
    color: white;
}
.card:hover {
  background: url(img/stop-build-blur-black-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    font-size: 12px;
    letter-spacing: 4px;
    border-radius: 0;
}
.container {
  background-color: transparent;
}
.navbar li a, .navbar:before .navbar-brand {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.navbar li a, .navbar .navbar-brand {
  background-color: rgba(0, 0, 0, .85);
    color: #fff;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: #fff;
    color: black;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}
