<!-- PAGES
================================================== -->
<section class="section" id="pages">

  <!-- Content -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">

        <!-- Heading -->
        <h2 class="text-center mb-4">
          Join the Mission.  
        </h2>

        <!-- Subheading -->
        <p class="text-muted text-center mb-5">
          Sabercat Robotics exists to train the next generation of engineers, innovators, creatives, and more through competitive robotics and training programs.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="app.html" class="card border-0 mb-3 mb-md-0">
          
          <!-- Image -->
          <div class="card-img-top">
            <img src="assets/img/mentors.jpg" alt="App landing" class="img-fluid">
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Mentor
            </h4>

            <!-- Body -->
            <p class="card-text text-muted">
              We are <b>always</b> looking for more mentors. Everyone has something to teach.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="company.html" class="card border-0 mb-3 mb-md-0">
          
          <!-- Image -->
          <div class="card-img-top">
            <img src="assets/img/tax-credit-generic.jpg" alt="App landing" class="img-fluid">
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Tax Credit <span class="badge badge-danger">Important!</span>
            </h4>

            <!-- Body -->
            <p class="card-text text-muted">
              We are a 501(c)-3. Tax Credit sets Arizona apart in education funding. Let's take advantage of it.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="fullpage.html" class="card border-0 mb-3 mb-md-0">
          
          <!-- Image -->
          <div class="card-img-top">
            <img src="assets/img/57.png" alt="Fullpage scrolling" class="img-fluid">
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Sponsors & Partners
            </h4>

            <!-- Text -->
            <p class="card-text text-muted">
              We rely on the support of out community. Weather you're a local business, global conglomerate, or self employed, there's need for your support.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="product.html" class="card border-0 mb-3 mb-md-0">
          
          <!-- Image -->
          <div class="card-img-top">
            <img src="assets/img/44.png" alt="App landing" class="img-fluid">
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Innovation Center 2020
            </h4>

            <!-- Body -->
            <p class="card-text text-muted">
              Body: The Innovation Center is an upcoming construction project on Saguaro High School’s campus. A model for the future of STEM and Business education, the Innovation Center will become home to our robotics and engineering classes as well as a facility for individual students’ creative aspirations. Help us make this dream a reality.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="real-estate.html" class="card border-0 mb-3 mb-md-0">
          
          <!-- Image -->
          <div class="card-img-top">
            <img src="assets/img/46.png" alt="App landing" class="img-fluid">
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Real estate landing
            </h4>

            <!-- Body -->
            <p class="card-text text-muted">
              You can use this page to promote your real estate.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="restaurant.html" class="card border-0 mb-3 mb-md-0">
          
          <!-- Image -->
          <div class="card-img-top">
            <img src="assets/img/91.png" alt="App landing" class="img-fluid">
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Restaurant landing <span class="badge badge-danger">New!</span>
            </h4>

            <!-- Body -->
            <p class="card-text text-muted">
              You can use this page to promote your restaurant.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="service.html" class="card border-0 mb-3 mb-md-0">
          
          <!-- Image -->
          <div class="card-img-top">
            <img src="assets/img/43.png" alt="App landing" class="img-fluid">
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Service landing
            </h4>

            <!-- Body -->
            <p class="card-text text-muted">
              You can use this page to promote your business or a service.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="#" class="card border-0 disabled">
          
          <!-- Image -->
          <div class="card-img-top card-img-waiting">
            <span class="icon-clock icon-2x"></span>
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Coming soon
            </h4>

            <!-- Text -->
            <p class="card-text text-muted">
              Feel free to contact us with your ideas about new pages and components.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- HEADERS
================================================== -->
<section class="section bg-light">

  <!-- Line -->
  <div class="line line-top"></div>

  <!-- Triangles -->
  <div class="bg-triangle bg-triangle-dark bg-triangle-top bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-dark bg-triangle-bottom bg-triangle-right"></div>

  <!-- Content -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">

        <!-- Heading -->
        <h2 class="text-center mb-4">
          Header variants
        </h2>

        <!-- Subheading -->
        <p class="text-muted text-center mb-5">
          Polish your landing page with one of the header options below to impress your visitors at first glance.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="index-header-carousel.html" class="card border-0 mb-3 mb-md-0">
          
          <!-- Image -->
          <div class="card-img-top">
            <img src="assets/img/51.png" alt="Carousel header" class="img-fluid">
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Carousel header
            </h4>

            <!-- Body -->
            <p class="card-text text-muted">
              Switch between multiple slides with full cover background images.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="index-header-parallax.html" class="card border-0 mb-3">
          
          <!-- Image -->
          <div class="card-img-top">
            <img src="assets/img/52.png" alt="Parallax header" class="img-fluid">
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Parallax header
            </h4>

            <!-- Body -->
            <p class="card-text text-muted">
              Good old parallax effect to add even more visual interest to your page.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Item -->
        <a href="index-header-video.html" class="card border-0 mb-3 mb-md-0">
          
          <!-- Image -->
          <div class="card-img-top">
            <img src="assets/img/53.png" alt="Video header" class="img-fluid">
          </div>

          <!-- Body -->
          <div class="card-body">
            
            <!-- Title -->
            <h4 class="card-title">
              Video header
            </h4>

            <!-- Body -->
            <p class="card-text text-muted">
              Local video background you can optionally loop if needed.
            </p>

          </div>

        </a> <!-- / .card -->

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- QUOTE
================================================== -->
<section class="section">

  <!-- Content -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        
        <!-- Quote -->
        <div class="quote">
          <blockquote class="quote-blockquote">
            <p class="quote-blockquote-content">
              This theme is a Swiss Army knife of Bootstrap themes. Built with components in mind, it can be easily adjusted to create layouts of any complexity within a few minutes.
            </p>
            <footer class="quote-blockquote-footer">
              <span class="text-zigzag">
                Yuri Gamin, Moscow
              </span>
            </footer>
          </blockquote>
        </div> <!-- / .quote -->
        
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- FEATURES
================================================== -->
<section class="section bg-dark">

  <!-- Triangles -->
  <div class="bg-triangle bg-triangle-light bg-triangle-top bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

  <!-- Content -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        
        <!-- Heading -->
        <h2 class="text-white text-center mb-4">
          Key theme features
        </h2>

        <!-- Subheading -->
        <p class="text-white text-muted text-center mb-5">
          Incline can be used to create anything from a small marketing page to a sophisticated website.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-md-4">

        <!-- Item -->
        <div class="text-center mb-5 mb-md-0">
          
          <!-- Icon -->
          <div class="text-primary mb-4">
            <span class="icon-devices icon-2x"></span>
          </div>

          <!-- Heading -->
          <h4 class="text-white mb-3">
            Fully responsive
          </h4>

          <!-- Content -->
          <p class="text-white text-muted mb-0">
            Looks great on all major browsers, tablets and mobile devices.
          </p>

        </div>

      </div>
      <div class="col-md-4">

        <!-- Item -->
        <div class="text-center mb-5 mb-md-0">
          
          <!-- Icon -->
          <div class="text-primary mb-4">
            <span class="icon-shield icon-2x"></span>
          </div>

          <!-- Heading -->
          <h4 class="text-white mb-3">
            Built with SASS
          </h4>

          <!-- Content -->
          <p class="text-white text-muted mb-0">
            Easily adjustable with tons of SASS variables included.
          </p>

        </div>

      </div>
      <div class="col-md-4">

        <!-- Item -->
        <div class="text-center">
          
          <!-- Icon -->
          <div class="text-primary mb-4">
            <span class="icon icon-support icon-2x"></span>
          </div>

          <!-- Heading -->
          <h4 class="text-white mb-3">
            Free support
          </h4>

          <!-- Content -->
          <p class="text-white text-muted mb-0">
            Feel free to contact us with any feature requests or bug reports.
          </p>

        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- ABOUT
================================================== -->
<section class="section">

  <!-- Content -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-5 offset-lg-1 order-md-2">
        
        <!-- Image -->
        <div class="img-effect img-effect-solid mb-5 mb-md-0">
          <img src="assets/img/47.jpg" class="img-fluid" alt="...">
        </div>

      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1 order-md-1">

        <!-- Heading -->
        <h2 class="mb-4">
          Intuitive workflow
        </h2>

        <!-- Content -->
        <ul class="list-iconed text-muted">
          <li class="list-iconed-item">
            Speed up your development process with Gulp and BrowserSync live browser reload
          </li>
          <li class="list-iconed-item">
            Easily adjust the look of any component with tons of additional SASS variables included
          </li>
          <li class="list-iconed-item">
            Easily make global changes with HTML file @@includes
          </li>
        </ul>

        <!-- Button -->
        <a href="documentation.html" class="btn btn-outline-primary">
          Documentation
        </a>
        
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- SERVICES
================================================== -->
<section class="section bg-light">

  <!-- Triangles -->
  <div class="bg-triangle bg-triangle-dark bg-triangle-top bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-dark bg-triangle-bottom bg-triangle-right"></div>
  
  <!-- Content -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        
        <!-- Heading -->
        <h2 class="text-center mb-4">
          Ultimate solution
        </h2>

        <!-- Subheading -->
        <p class="text-muted text-center mb-5">
          Easily create a website of any complexity with dozens of pages and independent components for any purpose.
        </p>

      </div>
    </div>
    <div class="row no-gutters align-items-stretch">
      <div class="col-md-4">
        
        <!-- Card -->
        <div class="card card-tall card-stretch border-0 mb-3 md-md-0">
          
          <!-- Image -->
          <div class="bg-cover" style="background-image: url(assets/img/24.jpg)"></div>

          <!-- Overlay -->
          <div class="bg-overlay"></div>

          <!-- Body -->
          <div class="card-body">

            <!-- Icon -->
            <div class="card-icon text-primary">
              <span class="icon icon-layers"></span>
            </div>
          
            <!-- Title -->
            <h4 class="card-title text-white">
              Support pages
            </h4>

            <!-- Text -->
            <p class="card-text text-white text-muted mb-0">
              Finish off your website with multiple support pages included into the package.
            </p>

          </div>

        </div> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Card -->
        <div class="card card-tall card-stretch card-standout shadow border-0 mb-3 md-md-0">
          
          <!-- Image -->
          <div class="bg-cover" style="background-image: url(assets/img/22.jpg)"></div>

          <!-- Overlay -->
          <div class="bg-overlay"></div>

          <!-- Body -->
          <div class="card-body">

            <!-- Icon -->
            <div class="card-icon text-primary">
              <span class="icon icon-tick"></span>
            </div>
          
            <!-- Title -->
            <h4 class="card-title text-white">
              Landing pages
            </h4>

            <!-- Text -->
            <p class="card-text text-white text-muted mb-0">
              Beautiful marketing pages to help you promote your product or a service.
            </p>

          </div>

        </div> <!-- / .card -->

      </div>
      <div class="col-md-4">
        
        <!-- Card -->
        <div class="card card-tall card-stretch border-0">
          
          <!-- Image -->
          <div class="bg-cover" style="background-image: url(assets/img/15.jpg)"></div>

          <!-- Overlay -->
          <div class="bg-overlay"></div>

          <!-- Body -->
          <div class="card-body">

            <!-- Icon -->
            <div class="card-icon text-primary">
              <span class="icon icon-puzzle"></span>
            </div>
          
            <!-- Title -->
            <h4 class="card-title text-white">
              Custom components
            </h4>

            <!-- Text -->
            <p class="card-text text-white text-muted mb-0">
              Combine dozens of components to create unique layouts.
            </p>

          </div>

        </div> <!-- / .card -->

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- PRICING
================================================== -->
<section class="section">

  <!-- Content -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">

        <!-- Heading -->
        <h2 class="text-center mb-4">
          Pricing options
        </h2>

        <!-- Subheading -->
        <p class="text-muted text-center mb-5">
          Secure payment via Stripe or Paypal. 100% money back guarantee.
        </p>
        
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        
        <!-- Card -->
        <div class="card card-lg bg-white card-active mb-3 mb-lg-0">
          
          <!-- Body -->
          <div class="card-body text-center">

            <!-- Title -->
            <h4 class="card-title">
              Standard license
            </h4>

            <!-- Price -->
            <h3 class="card-title font-weight-normal text-primary">
              $49.00
            </h3>

            <!-- Text -->
            <ul class="card-text list-iconed">
              <li class="list-iconed-item">
                Use for a single product
              </li>
              <li class="list-iconed-item">
                Non-paying users only
              </li>
              <li class="list-iconed-item">
                Read&nbsp;<a href="https://themes.getbootstrap.com/licenses/#fullStandardLicense" target="_blank">full description</a>
              </li>
            </ul>

            <!-- Button -->
            <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary">
              Purchase now
            </a>

          </div>
          
        </div> <!-- / .card -->

      </div>
      <div class="col-md-6 col-lg-4">
        
        <!-- Card -->
        <div class="card card-lg bg-white">
          
          <!-- Body -->
          <div class="card-body text-center">

            <!-- Title -->
            <h4 class="card-title">
              Extended license
            </h4>

            <!-- Price -->
            <h3 class="card-title font-weight-normal text-primary">
              $490.00
            </h3>

            <!-- Text -->
            <ul class="card-text list-iconed">
              <li class="list-iconed-item">
                Use for a single product
              </li>
              <li class="list-iconed-item">
                Paying users allowed
              </li>
              <li class="list-iconed-item">
                Read&nbsp;<a href="https://themes.getbootstrap.com/licenses/#fullExtendedLicense" target="_blank">full description</a>
              </li>
            </ul>

            <!-- Button -->
            <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary">
              Purchase now
            </a>

          </div>
          
        </div> <!-- / .card -->

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- CTA
================================================== -->
<section class="section bg-light">

  <!-- Content -->
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8">
        
        <!-- Heading -->
        <h3 class="mb-4">
          Download it from the Bootstrap marketplace
        </h3>

        <!-- Subheading -->
        <p class="text-muted mb-4 mb-md-0">
          Each theme featured at the Bootstrap marketplace has been reviewed by Bootstrap's creators. Six month technical support by the theme author is provided.
        </p>

      </div>
      <div class="col-md-auto">
        
          <!-- Button -->
          <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary">
            Purchase now
          </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>